# Local execution results and logs
results/
data/
gold/
logs/
resources/
failed_ids.csv
*.log

# Sensitive configs
config/*.json

# Environment and Virtual Env
.env
new_venv/
venv/
__pycache__/
*.pyc


.pytest_cache/
.ruff_cache/