pandas
pydantic
PyYAML
python-dotenv
langchain-aws
langchain-core
langsmith
psycopg2-binary
google-cloud-bigquery
google-api-core
tqdm
snowflake-connector-python
sqlglot
numpy
duckdb
pymongo
prometheus-fastapi-instrumentator
databao-agent
fastapi
uvicorn
requests
sqlalchemy