streamlit
pandas
pydantic
PyYAML
python-dotenv
qdrant-client
sentence-transformers
langchain
langchain-aws
psycopg2-binary
plotly
boto3
matplotlib
google-cloud-bigquery
google-api-core
tqdm
openpyxl
pydantic-settings
snowflake-connector-python
