pydantic>=2.0.0
fastapi
uvicorn
pydantic-settings
python-dotenv
psycopg2-binary
openai
langchain
langchain-openai
langchain-aws
langchain-core
llama-index
qdrant-client
sentence-transformers
requests
PyYAML
boto3
pandas
python-multipart
google-cloud-bigquery
google-auth
snowflake-connector-python
